<!doctype html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Description of the page less than 150 characters">
  <title>New Site</title>

  <link rel="stylesheet" href="../css/styles.css">

  <link rel="preload" href="../fonts/NewsGothicStd.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="../fonts/NewsGothicStd-Bold.woff2" as="font" type="font/woff2" crossorigin>

  <style>
    @font-face {
      font-family: 'News Gothic Std';
      src: url('../fonts/NewsGothicStd.woff2') format('woff2'),
          url('../fonts/NewsGothicStd.woff') format('woff');
      font-weight: 500;
      font-style: normal;
    }

    @font-face {
      font-family: 'News Gothic Std';
      src: url('../fonts/NewsGothicStd-Bold.woff2') format('woff2'),
          url('../fonts/NewsGothicStd-Bold.woff') format('woff');
      font-weight: 600;
      font-style: normal;
    }
  </style>
</head>
<body class="page">

  <header class="page__header page-header">
    <section class="page-header__banner">
      <section class="page-header__banner-title">
        <h1 class="page-header__banner-name">LEGAL TABS</h1>
        <p class="page-header__banner-description">
          The place for your legal needs
        </p>
      </section>
    </section>
    <nav class="page-header__navigation">
      <ul class="page-header__navigation-list">
        <li class="page-header__navigation-list-item">
          <a href="#" class="page-header__navigation-list-link">LETTER</a>
        </li>
        <li class="page-header__navigation-list-item">
          <a href="#" class="page-header__navigation-list-link">NUMBER</a>
        </li>
        <li class="page-header__navigation-list-item">
          <a href="#" class="page-header__navigation-list-link">EXHIBIT</a>
        </li>
        <li class="page-header__navigation-list-item">
          <a href="#" class="page-header__navigation-list-link">BLANK</a>
        </li>
        <li class="page-header__navigation-list-item">
          <a href="#" class="page-header__navigation-list-link">CONTACT</a>
        </li>
        <li class="page-header__navigation-list-item">
          <a href="#" class="page-header__navigation-list-link">ACCOUNT</a>
        </li>
        <li class="page-header__navigation-list-item">
          <a href="#" class="page-header__navigation-list-link">LOGIN</a>
        </li>
      </ul>
    </nav>
  </header>
  <main class="page__main page-main">
    Main
  </main>
  <footer class="page__footer page-footer">
    <p>
      Footer!
    </p>
  </footer>



</body>
<script src="../js/scripts.js"></script>
</html>
