<!doctype html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Description of the page less than 150 characters">
  <title>New Site</title>

  <link rel="stylesheet" href="../css/styles.css">

  <link rel="preload" href="../fonts/NewsGothicStd.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="../fonts/NewsGothicStd-Bold.woff2" as="font" type="font/woff2" crossorigin>

  <style>
    @font-face {
      font-family: 'News Gothic Std';
      src: url('../fonts/NewsGothicStd.woff2') format('woff2'),
          url('../fonts/NewsGothicStd.woff') format('woff');
      font-weight: 500;
      font-style: normal;
    }

    @font-face {
      font-family: 'News Gothic Std';
      src: url('../fonts/NewsGothicStd-Bold.woff2') format('woff2'),
          url('../fonts/NewsGothicStd-Bold.woff') format('woff');
      font-weight: 600;
      font-style: normal;
    }
  </style>
</head>
<body class="page-tabs">
  <main class="page-tabs__container">

    <article class="tabs-container">
      <ul class="tabs-container__list">
        <li class="tabs-container__list-item">
          <a href="#" class="tabs-container__list-item-link">LETTER</a>
        </li>
      </ul>
    </article>

  </main>
</body>
<script src="../js/scripts.js"></script>
</html>
