// <section class="product__tabs">
//   <h3>Select Your Tabs</h3>
//   <form class="product__tabs-form product-form__letter-form" action="">
//     <section class="letter-form__column">
//       <label for="letter-a">
//         <h4>A</h4>
//         <input id="letter-a" name="letter-a" type="number" value="0" data-tab="A" placeholder="" min="0">
//       </label>


.product-form__letter-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  grid-column-gap: 3rem;

}


.letter-form__column {

}

.letter-form__label {
  display: grid;
  grid-template-columns: 10% .75fr;
  grid-column-gap: 5%;

  align-items: center;



  h4 {
    margin: 0;
    padding: 0;
  }

  input {
  }
}
