.page-footer {
  display: flex;
  padding: 5% 0;

  width: 100%;

  background-color: var(--black-background);

  &__container {
    display: grid;

    margin: 0 auto;
    width: var(--page-width);
    grid-template-columns: 1.5fr 2fr;
    grid-column-gap: 4%;
  }


  &__column {
    display: flex;
    flex-direction: column;
  }

  &__contact-item {
    padding: .745rem 0;

    color: white;
    font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (2500 - 300)));

    a {
      color: white;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  &__map {
    position: relative;
    overflow: hidden;
    padding-bottom: 75%;
    height: 0;
  }

  &__map-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}
